In [8]:
%load_ext autoreload
%autoreload 2

import utils

import os
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

RANDOM_STATE = 42
ROOT_PATH    = os.path.abspath('.')
DATA_PATH    = ROOT_PATH + '/data-raw/'

In [2]:
wine_raw_df = pd.read_csv(DATA_PATH + 'winequality.csv', sep=';')

In [3]:
wine_raw_df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,White,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,White,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,White,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,White,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,White,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [4]:
wine_raw_df.quality.value_counts()

6    2836
5    2138
7    1079
4     216
8     193
3      30
9       5
Name: quality, dtype: int64

In [5]:
X = wine_raw_df.drop(['quality'], axis=1)
y = wine_raw_df.quality

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=RANDOM_STATE, stratify=y)

In [6]:
y_train.value_counts()

6    2127
5    1603
7     809
4     162
8     145
3      22
9       4
Name: quality, dtype: int64

In [7]:
wine_counts = X_train.alcohol.value_counts()
wine_counts[wine_counts == 1]

8.0                    1
105.666.666.666.667    1
9.75                   1
135.666.666.666.667    1
11.65                  1
13.8                   1
114.666.666.666.667    1
12.25                  1
131.333.333.333.333    1
109.333.333.333.333    1
117.333.333.333.333    1
11.95                  1
123.333.333.333.333    1
109.666.666.666.667    1
112.666.666.666.667    1
8                      1
9.05                   1
963.333.333.333.333    1
11.35                  1
120.666.666.666.667    1
9.25                   1
105.333.333.333.333    1
114.333.333.333.333    1
10.75                  1
116.333.333.333.333    1
923.333.333.333.333    1
14.9                   1
14.2                   1
11.85                  1
10.65                  1
11.55                  1
Name: alcohol, dtype: int64

In [60]:
X_train['alcohol'] = X_train['alcohol'].apply(utils.convert_alcohol_str())