In [32]:
import numpy as np
import pandas as pd

In [33]:
wine_raw_df = pd.read_csv('data/winequality.csv', sep=';')

In [34]:
wine_raw_df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,White,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,White,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,White,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,White,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,White,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [35]:
wine_raw_df.dtypes

type                     object
fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                  object
quality                   int64
dtype: object

In [43]:
wine_raw_df.alcohol.value_counts()

9.50     367
9.40     332
9.20     271
10.00    232
10.50    229
11.00    219
9.00     215
9.80     214
10.40    196
9.30     193
9.60     187
10.80    177
10.20    176
9.10     167
10.10    163
9.70     159
9.90     158
11.40    155
11.20    149
10.90    142
10.60    142
11.30    137
12.00    124
10.70    123
10.30    118
11.50    118
11.10    110
8.80     109
12.50    104
12.20     98
        ...
12.75      3
13.80      2
11.94      2
8.00       2
11.95      2
11.75      2
11.05      2
97.30      2
12.15      2
95.60      1
10.98      1
9.95       1
11.65      1
10.65      1
11.35      1
96.30      1
12.25      1
14.90      1
13.55      1
14.05      1
11.85      1
14.20      1
13.05      1
12.05      1
10.75      1
9.25       1
92.30      1
9.05       1
9.75       1
11.55      1
Name: alcohol, Length: 91, dtype: int64

In [38]:
from typing import Union, TypeVar

_PANDAS_DF    = TypeVar('pandas.core.frame.DataFrame')
_FLOAT_OR_STR = Union[float, str]


def convert_alcohol_str(x: _FLOAT_OR_STR) -> float: 
    try:
        x = float(x)
    except ValueError:
        x = x[:2] + '.' + x[2]
        x = float(x)

    return x


wine_raw_df['alcohol'] = wine_raw_df['alcohol'].apply(convert_alcohol_str)

In [44]:
wine_raw_df[wine_raw_df.alcohol > 20]

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4358,White,6.5,0.230,0.20,7.5,0.050,44.0,179.0,0.99504,3.18,0.48,95.3,5
4403,White,5.2,0.220,0.46,6.2,0.066,41.0,187.0,0.99362,3.19,0.42,97.3,5
4410,White,5.7,0.240,0.47,6.3,0.069,35.0,182.0,0.99391,3.11,0.46,97.3,5
4864,White,6.0,0.410,0.23,1.1,0.066,22.0,148.0,0.99266,3.30,0.47,96.3,5
4879,White,6.6,0.340,0.40,8.1,0.046,68.0,170.0,0.99494,3.15,0.50,95.3,6
4880,White,6.6,0.340,0.40,8.1,0.046,68.0,170.0,0.99494,3.15,0.50,95.3,6
6339,Red,7.4,0.785,0.19,5.2,0.094,19.0,98.0,0.99713,3.16,0.52,95.6,6
6412,Red,6.9,0.840,0.21,4.1,0.074,16.0,65.0,0.99842,3.53,0.72,92.3,6

In [48]:
def treat_alcohol_upper_outliers(x: float) -> float:
    if x > 70:
        x /= 10
        
    return x

wine_raw_df['alcohol'] = wine_raw_df['alcohol'].apply(treat_alcohol_upper_outliers)